.transaction-card{
   background-color: aliceblue;
   margin-bottom: 15px;
   border-radius: 20px;
   padding: 10px;
}
.transaction-card-stats{
   color: #000;
   font-size: 24px;
}
.transaction-card-stats span{
   color: red;
}

