html, .login, #root  {
   background-color: rgb(165, 165, 248);
   background: url('../assets/background.png') center no-repeat;
   background-size: cover;

}

.login{
   margin-top: 200px;
   position: relative;
}
.login *{
   color: #000;
}
.logincha{
   position: absolute;
   top: 100px;
   display: flex;
   flex-direction: column;

   background-color: aliceblue;
   padding:10px 50px;
   border-radius: 30px;
}
.forget{
   font-size: 14px;
   margin-top: 5px;
   color: blue;
   display: flex;
}